.body{
    margin-top: 150px;
    background-color: rgb(179, 56, 56);
   
   text-align: center;
}
*{
    background-color: rgb(121, 170, 153);
}

#button-numbers{
    display: grid;
    grid-template-columns: repeat(4,123px);
    gap: 10px;
    padding-inline:500px 500px;
    
   
}
button{
    font-size: 40px;
    font-style: italic;
    color: chartreuse;
    background-color: rgb(41, 97, 79);
    border-radius: 10px;
    border-color: rgb(5, 111, 111);
} 
button:hover{
    background-color: blue;
}
#values{
    width: 518px;
    height: 100px;
    background-color:rgb(228, 230, 182);
    font-size: 40px;
    color: rgb(89, 228, 124);
    border-color: crimson;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 10px;
}
p{
    font-size: xx-large;
    color: rgb(156, 26, 26);
    text-align: left;
    margin-left:520px;

}
#color-change{
    background-color: blue;

}